.booyah-box.col-xs-10.col-xs-offset-1
  %h3= @spot.name
  %i= @spot.address
  %br/
  %br/
  %p= @spot.description
  %br/
  .pull-right
    - if current_user && current_user == @spot.user
      = link_to 'Edit', edit_spot_path(@spot), :class => 'btn btn-primary'
      = link_to 'Destroy', spot_path(@spot), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this?'},:class => 'btn btn-danger'
